html{
    font-family: 'Montserrat', sans-serif;
}
body{
   
    width: 100%;
    background: rgb(228,140,220);
    background: linear-gradient(90deg, rgba(228,140,220,0.58) 0%, rgba(169,97,215,1) 62%, rgba(139,39,205,1) 85%); 
    margin: 0;
    
}

.container{
    width: 70%;
    margin: 50px auto;
}

article{
    width: 20%;
    min-width: 250px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    float: left;
    padding: 12px; 
}


article h1{
    font-size: 25px;
}

article time{
    font-size: 11px;
    font-style: italic;
}

.container img{
    max-width: 100%;
    max-height: 250px;
    margin: 0 auto;
    min-width: 100%;
}

